.donut,.cake,.juice
{
    color:lightsalmon;
}
h2,h3
{
    font-weight: bold;
    background-color: cyan;
}
h1
{
background-color: darkslateblue;
}
.donut,
.cake,
.juice{
text-align: center;
}
.body
{
    background-color:silver;
}
.landing{
    text-align: center;
    color: lightcoral;
    background-color: black;
}
.bodyland{
    background-color:lightslategray;
}
p,ol,ul{
    border-style: solid;
    border-radius: 13px;
    margin: 15px;
}
.imgd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}/*centered images without container div */
.imgc{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 200px;
}
.imgj{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 170px;
}
.ic,.ij,.id{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 5%;
}
figcaption{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}